<% layout('LAYOUTS/boilerplate') %>
<style>
     .card {
        background-color: white;
        border: 1px solid black;
    border-radius: 10px;
    
    }
    .box {
       border: 2px solid black;
    border-radius: 10px;
    margin-bottom: 1rem;
    }
    .btn{
        color: black;
        background-color: rgb(164, 162, 162);
        width: 7rem;
        font-weight:bold ;
    }
    .btn:hover {
        border: 2px solid black;
    }
    img {
    height: 18rem;
  }
</style>
    <body>
        <%- include('../INCLUDES/navbar.ejs') %>
      <%- include("../INCLUDES/flash.ejs") %>

    <div class="container ">
    <div class="container">
      <div
        class="container box mt-5 mb-5"
        style="background-color: white"
      >
      <h2 class="text-center mt-1">Author Quotes</h2>
      
        <div class="row justify-content-center">
            <% for(let quote of filteredQuotes) {%>
                    <div class="card m-2" style="width: 18rem">
            <img
              class="card-img-top mt-2"
              src="<%= quote.url %>"
              alt="Card image cap"
            />
            <div class="card-body">
              <p class="card-text text-center"><%= quote.text %></p>
              <p class="card-text " style="text-align: end" >
                <i style="color: blue;">- <%= quote.author %></i> 
              </p>
            </div>
          </div>

            <% } %>
          

        </div>
      </div>
    </div>
  </div>


            <%- include('../INCLUDES/footer.ejs') %>
    </body>